body
{
	background-color: skyblue;
	text-align: center;
	font-family: Calibri;
}
input
{
	width: 25%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: 3px solid gray;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
}
input[type="submit"],input[type="reset"], button
{
	background-color: #4CAF50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: max-content;
}
input[type="submit"]:hover, input[type="reset"]:hover, button:hover
{
	background-color: #45a049;
}
div
{
	margin-top: 50px;
	margin-bottom: 50px;
	box-sizing: border-box;
}
.output
{
	border:3px solid black;
	width:max-content;
	padding-right:20px;
	padding-left:20px;
	box-sizing: border-box;
}
span
{
	font-size: 25px;
	font-weight:bold;
}
img
{
	width: 45%;
	border: 3px solid black;
}